// variables
// colores
$color1: black;
$color2: #D8E0F2;
$color3: #F20505;
$color4: #d11e0e;
// Night
$color5: #D9D9D9;
$color6: #A6A6A6;
$color7: #FFF;

// fuentes de texto
$font1: 'Roboto', sans-serif;

// propiedades
$mayus: uppercase;
