// variables
// colores
$color1: black;
$color2: #D8E0F2;
$color3: #4895D9;
$color4: #2678BF;
// Night
$color4: #D9D9D9;
$color5: #A6A6A6;

// fuentes de texto
$font1: 'Roboto', sans-serif;

// propiedades
$mayus: uppercase;
